<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.serverregister">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ServerRegister"
        android:usesCleartextTraffic="true">
        <activity android:name=".PhotoReportCreatingActivity"></activity>
        <activity android:name=".QuestByParametersActivity" />
        <activity android:name=".RequestForHelpActivity">
            <intent-filter>
                <action android:name="luminous.ACTION_PICK" />
                <action android:name="luminous.ACTION_MULTIPLE_PICK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".UnsuccessfulAythenticationActivity" />
        <activity
            android:name=".RequestCreationStageActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".UpdatingUserDataActivity" />
        <activity android:name=".Test" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AuthenticationActivity" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />

        <activity android:name=".RegisterActivity" />
        <activity android:name=".FillingNameActivity" />
    </application>

</manifest>